# build output
dist/
.astro/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
.history

.idea/
.vscode/
node_modules/

*.iml
*-lock.json
*-lock.yaml


.output
.vercel
/.svelte-kit
/build
Thumbs.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*